@charset "utf-8";
/* CSS Document */


*{margin:0; padding:0;}
img{border:none;}
li{list-style:none;}
a{text-decoration:none;}

body{ font-family:"맑은고딕";}
ul:after{content:"";  clear:both;  visibility:hidden;  display:block; height:0;}

h1 {   color:color #3c3838; font-weight:bold; font-size:40px; font-family: Sucrose Bold Two;}
/* .bg{ background:url(https://drive.google.com/file/d/1fqrTJNQLYiiDNK2ji3JE5aEik6TSH3S3/view?usp=sharing) no-repeat center fixed; } */

div #button {position:relative;}
#button a {width:500px; height:200px; border-color:#477fce;  position:absolute; top:30%; right:10%; color:#fff; font-size:70px;}






 
/* body {
    background: rgb(255, 255, 255);
    padding: 2rem;
  } */
  
  p {
    
    font-family: 'Sucrose'; 
    color:#690cd3;
    text-transform: uppercase;
    font-weight:bold;
    font-size: 2rem;
    line-height: 0.75;
    text-align: center;
  }
  header h1 .fontcolor{color:#000000; text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;}
  span {
    display: block;
  }
  
  span:not(.light) {
    opacity: 0;
    animation: flashText .9s ease-out alternate infinite;
  }
  
  span.light {
    position: relative;
    display: inline-block;
    
    &:before {
      position: absolute;
      left: 0;
      top: -10%;
      width: 100%;
      height: 120%;
      /* background: #fff; */
      filter: blur(10px);
      content: "";
      opacity: 0;
      animation: flash .5s ease-out alternate infinite;
    }
  }
  
  @keyframes flash{
    to {
      opacity: 1;
    }
  }
  
  @keyframes flashText {
    to {
      opacity: 1;
    }
  }


  @font-face {
    font-family: 'Sucrose Bold Two';
    /* src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2') format('woff2'); */
    }
/* 산 사진 @font-face {
    font-family: 'IM Fell French Canon Pro';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2') format('woff2');
} */

/* @font-face 
  {font-family: 'IM Fell French Canon Pro';
  
  box-sizing: border-box; 
  src: url("https://drive.google.com/file/d/1fqrTJNQLYiiDNK2ji3JE5aEik6TSH3S3/view?usp=sharing")
  format('woff2');} */



/* body { */
  /* margin: 0; */
}
header { 
  /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mountain-range.jpg) no-repeat;  */
  

  /* padding-top: 61.93333333%; */
  background-size: 100%;
  font-family: 'Sucrose Bold Two';
}
header img {
  /* position: absolute; */
  /* top: 0;
  right: 0; */
  /* width: 100%; height:auto; */
}
header h1 { 
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 8vw;
  line-height: .8;
  margin-top: 0;
  text-align: center;
  color:aliceblue;
  
}
header h1 span {
  display: block;
  font-size: 8.75vw;

  
}



/* main { 
  background: #fff;
  position: relative;
  border: 1px solid #fff;
  font-family: 'IM Fell French Canon Pro';
  font-size: 1.4rem;
  padding: 2rem 25%;
  line-height: 1.6;
}
@media all and (max-width: 400px) {
  main { padding: 2rem; }
} */





/* .p{text-align:center; position:absolute; bottom:10%; width:100%;}
.p span{ font-size:30px;color:#000; opacity:0; }
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:#26394E ;
  } */

  /* #menu {
    height: 100%;
    position: fixed;
    background-color: #FED057;
    width: 300px;
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100%);
    left: 60px;
  }

  #menu.expanded {
    transform: translateX(0%);
    left: 0px;
  }

  .menu-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }

  #blob {
    top: 0;
    z-index: -1;
    right: 60px;
    transform: translateX(100%);
    height: 100%;
    position: absolute;
  }

  #blob-path {
    height: 100%;
    fill:  #FED057;
  }

  .hamburger {
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -10px;  
  }

  .hamburger .line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
  }

  .hamburger .line:nth-child(2) {
    top: 50%;
    margin-top: -2px;
  }

  .hamburger .line:nth-child(3) {
    bottom: 0;
  }

  h1 {
    position: fixed;
    right: 0;
    margin: 0;
  }

  ul {
    padding: 0;
    list-style: none;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 10px;
  }

  ul li {
    color: #fff;
    font-family: sans-serif;
    padding: 20px 0;
  }

  h2 {
    position: absolute;
     left: 50%;
    color: #fff;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
  }


 

 */







